
@model IEnumerable<BookstoreApp.Core.Models.Bookstore.BooksViewModel>
@{
    ViewBag.Title = "Books";
}

<div class="text-center row">
    @foreach (var book in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
                 src="@book.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@book.Title</h5>
                <p class="mb-0">Price: @book.Price$</p>
                <p>Genre: @book.Category</p>
            </div>

            <div class="col-12 px-1">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-warning btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Details</a>
            </div>
        </div>
    }
</div>