
@model BookstoreApp.Core.Models.Bookstore.BooksViewModel
@{
    ViewBag.Title = "Books";
}

<form method="get" asp-action="GetAllBooks" asp-controller="Bookstore">
	<div class="container mt-4">
		<div class="row justify-content-sm-evenly form-inline">
			<div class="col-md-4 ml-2">
				@if (Model.SearchTerm != "" && Model.SearchTerm != null)
				{
					<input class="form-control form-control-sm mr-sm-2" type="text" aria-label="Search..." name="searchTerm" value="@Model.SearchTerm">
				}
				else
				{
					<input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Search..." aria-label="Search" name="searchTerm">
				}
				<button type="submit" class="btn btn-warning btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Search</button>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="sort-label" asp-for="Sorting">Sort by: </label>
					<select name="sorting" class="form-control sort mt-0" onchange="this.form.submit()">
						@if (Model.Sorting.ToString() == "AscendingByName")
						{
							<option value="AscendingByName" selected>Title(A-Z)</option>
						}
						else
						{
							<option value="AscendingByName">Title(A-Z)</option>
						}

						@if (Model.Sorting.ToString() == "DescendingByName")
						{
							<option value="DescendingByName" selected>Title(Z-A)</option>
						}
						else
						{
							<option value="DescendingByName">Title(Z-A)</option>
						}

						@if (Model.Sorting.ToString() == "AscendingByPrice")
						{
							<option value="AscendingByPrice" selected>Price(Low>High)</option>
						}
						else
						{
							<option value="AscendingByPrice">Price(Low>High)</option>
						}

						@if (Model.Sorting.ToString() == "DescendingByPrice")
						{
							<option value="DescendingByPrice" selected>Price(High>Low)</option>
						}
						else
						{
							<option value="DescendingByPrice">Price(High>Low)</option>
						}
					</select>
				</div>

			</div>
		</div>
    </div>
</form>

<div class="text-center row">
    @foreach (var book in Model.Books)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
                 src="@book.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@book.Title</h5>
                <p class="mb-0">Price: @book.Price$</p>
                <p>Genre: @book.Category</p>
            </div>
            <form method="post" asp-controller="Shoppingcart" asp-action="AddToShoppingcart">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-warning btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Add to cart<span class="ion-ios-cart"></span></button>
                <input type="hidden" name="bookId" value="@book.Id" />
                <input type="hidden" name="amount" value="1" />
            </form>
            <div class="col-12 px-1">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-warning btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Details</a>
            </div>


        </div>
    }
</div>